
@import "fonts";
@import "rouge-github";

.columns_page {
  display: flex;
  gap: 60px;
}

.column_nav {
  flex: 1;
  position: sticky;
  top: 1vh;
  align-self: flex-start;
}
.column_content {
  flex: 3;
}
ul.pagenav_list{
  list-style-image: url("/assets/page.png");
  font-size:14px;
}
ul.pagenav_list a{
  color:#566e8b;
  border-bottom: none;
  text-decoration: none;  
}
ul.pagenav_list a:hover{
  color:#4a8eff;
  border-bottom: none;
  text-decoration: none;  
}
h1.page_title {
  color:#3f5876;
  font-weight:600;
}
ol.page_guide a{
   text-decoration: none;
   color: #566e8b;
   font-weight: 600;
   line-height: 1.6;
   display: inline-block;
}

ol.page_guide a:hover,a:focus{
   color: #4a8eff;
}
ol.name_list a{
  font-size:20px;
}
ol.name_list{
      margin: 0 0 10px;
}
.content_block{
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
}

p.content_text{
  flex: 2;
}
.content_block img{ 
  height: auto;
  object-fit: contain;/* optional: contain within its box */
  flex: 1 1 0;        /* let it grow and shrink */
  align-self: flex-start; /* stop it from stretching vertically */
}
@media print, screen and (max-width: 960px) {


}

@media print, screen and (max-width: 720px) {

 
}

@media print, screen and (max-width: 480px) {


}

@media print {

}
